{% extends 'layout.jinja' %}

{% block title %}Contact{% endblock %}
{% block content %}

<div class="container">
    <h2>Contact Page</h2>

    <form method="post">
        {% csrf_token %}

        {{form}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}